  <div class="col-md-4 col-lg-4" ng-show="$parent.gather.fullcontact.result[3].graphic[4].footprint[0]" >
    <div ba-panel ba-panel-title="Footprint" ba-panel-class="medium-panel black-panel light-text">
      <textcloud words="$parent.gather.fullcontact.result[3].graphic[4].footprint"></textcloud>
    </div>
  </div>
