  <div class="col-md-4 col-lg-4" ng-show="$parent.gather.twitter.result[3].graphic[0].resume">
    <div ba-panel ba-panel-title="Twitter resume" ba-panel-class="medium-panel black-panel with-scroll light-text" >
      <d3-tree-map treedata="$parent.gather.twitter.result[3].graphic[0].resume"></d3-tree-map>
    </div>
  </div>
